<?xml version="1.0" encoding="UTF-8"?>

<web-app
        xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        version="2.4"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.sun.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookManagerServlet</servlet-name>
        <servlet-class>com.sun.servlet.BookManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookClientServlet</servlet-name>
        <servlet-class>com.sun.servlet.BookClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userservlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>BookManagerServlet</servlet-name>
        <url-pattern>/admin/BookManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookClientServlet</servlet-name>
        <url-pattern>/client/BookClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/code.jpg</url-pattern>
    </servlet-mapping>
</web-app>
